@import "tailwindcss";

@theme {
  --color-brand-50: #f8fafc;
  --color-brand-100: #f1f5f9;
  --color-brand-200: #e2e8f0;
  --color-brand-300: #cbd5e1;
  --color-brand-400: #94a3b8;
  --color-brand-500: #475569;
  --color-brand-600: #334155;
  --color-brand-700: #1e293b;
  --color-brand-800: #0f172a;
  --color-brand-900: #000000;
}

@layer base {
  body {
    background-color: var(--color-slate-50);
    color: var(--color-slate-900);
  }
}
